@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");


@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-montserrat: "Montserrat Alternates", sans-serif;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
